:root {
	--color-text: #111;
	--color-background: #eee;
	--color-modal-bg: #f0f0f0;
	--color-input-bg: #fff;
	--color-border: #666;
	--color-accent: #00b7eb; /* printer's cyan */
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #eee;
		--color-background: #111;
		--color-modal-bg: #181818;
		--color-input-bg: #000;
		--color-border: #ccc;
		--color-accent: #fd3f92; /* french fuchsia */
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	accent-color: var(--color-accent);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 17px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	transition: text-decoration-thickness 0.5s;
	text-decoration: underline var(--color-accent);

	&.active,
	&:hover,
	&:focus {
		text-decoration-thickness: 3px;
	}
}

/* *:focus {
	outline: 1px dotted red !important; */
/* } */
