@import './base.css';

#app {
	max-width: 1280px;
	min-height: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 2rem 2rem 8rem; /* 8 rem is extra room for instructions,remove later when we restyle that */
	font-weight: normal;
}
